<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/equeue</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <mapping class = "by.rdbce.domain.tickets"/>
        <mapping class="by.rdbce.controller.TicketsEntity"/>

    </session-factory>
</hibernate-configuration>